* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.container {
  display: flex;
  position: relative;
}

.container .navbar {
  position: fixed;
  width: 200px;
  height: 100%;
  background-color: blueviolet;
}

.container .navbar h2 {
  text-align: center;
  color: white;
  font-style: italic;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.navbar ul li {
  padding: 20px;
  color: white;
  font-size: 16px;
  margin-top: 20px;
}

.navbar ul li:hover {
  background-color: orchid;
  cursor: pointer;
}

.container .info {
  margin-left: 200px;
  width: 100%;
}

.container .info h2 {
  position: fixed;
  color: white;
  height: 50px;
  background-color: blueviolet;
  width: 100%;
  padding: 10px;
}
.container .info .main-content {
  padding: 10px;
  background-color: grey;
}
